<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Script-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Script.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80796CFE1D35C01900A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80796D121D35C01B00A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80796D1D1D35C01B00A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80796D331D35C0FA00A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80796D461D35C0FA00A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80796D511D35C0FB00A728B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
